.main-container {
  margin: auto;

  background-color: #233d4d;
  color: whitesmoke;

  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-weight: bold;

  user-select: none;

  min-width: 100vw;
  min-height: 100vh;
}

.title-container {
  background-color: #619b8a;
  border-radius: 20px;
  padding: 0 5px;
  margin: 10px;
  text-shadow: 3px 3px 2px rgba(35, 61, 77, 1);
}

.box-container {
  flex: 1;
  background-color: #619b8a;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin-bottom: 15px;

  width: 90%;
  border-radius: 15px;
}

.new-task-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  border-radius: 10px;
  padding: 5px;
  background-color: #a1c181;

  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.input-title {
  text-align: left;
  font-weight: bolder;
  text-shadow: 3px 3px 2px rgba(97, 155, 138, 1);
}

.edit {
  background-color: #fcca46;
}

.confirm {
  background-color: #a1c181;
}

.form {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.form-buttons {
  display: flex;
  gap: 3px;
}

.new-task-input {
  height: 75%;
  align-self: center;
  border: none;
  border-radius: 5px;
  user-select: none;
  flex: 1;
}

.button {
  border: none;
  border-radius: 5px;
  color: #233d4d;
  font-weight: bolder;
}

.button:hover {
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.button:active {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.submit {
  background-color: #fcca46;
}

.cancel {
  background-color: #fe7f2d;
}

.tasks-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
  text-wrap: wrap;
  word-wrap: break-word;
  max-width: 100dvw;
}

.task-component {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 0 5px;

  background-color: #a1c181;
  border-radius: 10px;
}

.task-buttons {
  align-self: center;
}

.task-num {
  border-radius: 50%;
  background-color: whitesmoke;
  color: #619b8a;
  padding: 0px 5px;
  padding-bottom: 1px;
  margin: 0 1px;
}
